@{
    ViewData["Title"] = "Home Page";
}

@model List<Codecool.CodecoolShop.Models.Product>

    @section Scripts{
    <script src="~/js/filters.js" asp-append-version="true"></script>
    }

    @section Css{
    <link rel="stylesheet" href="~/css/filters.css" />
    }

    @section Navibar{
        <li>
        <div class="container mt-2">
            <span id="Filters" style="cursor:pointer">Filters</span>
        </div>
        <li/>
    }

    @section Modals{
    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtersModalTitle">Products filters</h5>
                    <button type="button" class="filtersCloseButton btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Index", "Product", FormMethod.Post))
                {
                <div class="modal-body">
                            <div class="container">
                                <div class="row" style="min-height:100px">
                                        <div class="col-6">
                                            <h6 class="filterHeader">Category</h6>
                                                @foreach (ProductCategory category in ViewData["Categories"] as IEnumerable<ProductCategory>)
                                                {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ProductCategoryId" value="@category.Id" id="flexRadio_@category.Id">
                                                    <label class="form-check-label" for="flexRadio_@category.Id">@category.Name</label>
                                                </div>
                                                }
                                        </div>

                                        <div class="col-6">
                                        <h6 class="filterHeader">Supplier</h6>
                                                @foreach (Supplier supplier in ViewData["Suppliers"] as IEnumerable<Supplier>)
                                                {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ProductSupplierId" value="@supplier.Id" id="flexRadio_@supplier.Id">
                                                    <label class="form-check-label" for="flexRadio_@supplier.Id">@supplier.Name</label>
                                                </div>
                                                }
                                        </div>
                                </div>
                            </div>
                </div>
                <div class="modal-footer">
                        <button id="filterModalButton" type="submit" class="btn btn-primary">Search</button>
                </div>
                }
            </div>
        </div>
    </div>
    }

<div class="container" style="margin-left:10%;">
    <div class="row">
        @foreach (var element in Model)
        {
        <div class="col-3" style="display: inline-block; max-height:500px; width:350px; margin-top:20px;">
            <div class="card" style="box-shadow: 5px -5px teal; height:500px;">
                    <div style="height: 50%; width: 100%; text-align:center;">
                        <img src="img/@(element.Name).jpg" style="max-height: 100%; width: 50%; padding-top: 10px">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                    <h5 class="card-title">@element.Name</h5>
                    <div style="height: 70px; position:relative; border:1px solid gray;">
                        <div style="max-height:100%;overflow:auto;">
                            <p style="height:150px;" class="card-text">@element.Description</p>
                        </div>
                    </div>
                    <p class="card-text">Category: @element.ProductCategory.Department</p>
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="AddToCart" asp-route-productID="@element.Id">Add to Cart</a>
    
                </div>
            </div>
        </div>
        }
    </div>
</div>
